@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
}
.fa {
    font-family: 'FontAwesome'!important; 
}
.banelVideo>h2{
    font: normal normal medium 70px/76px Poppins;
    letter-spacing: -2.1px;
    color: #041839;
    opacity: 1;
}
.banelVideo>p{
    font: normal normal normal 20px/27px Poppins;
    letter-spacing: 0px;
    color: #041839;
    opacity: 1;
}
.banelVideo>button{
    font: normal normal medium 14px/21px Poppins;
    letter-spacing: 0px;
    color: #041839;
    opacity: 1;
}
.banelVideo>span{
    text-align: center;
    font: normal normal medium 14px/21px Poppins;
    letter-spacing: 0px;
    color: #041839;
    opacity: 1;
}
.iconPlay{
    color:white;
    text-align: right;
    background-color: #041839;
}
.banelContent{
    margin-left: 12px;
    height: 500px;
}
.videoThumbnai{
    margin-top: 35px;
    top: 0px;
    right: 0px;
    z-index: -1;
}
video[poster]{
    object-fit: cover;
}
.iconMute>i{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}
.carousel-item img{
    margin-top: 42px;
}
.blockquoteSlide{
    padding: 35px 20px;
    max-width: 1024px;
    height: 422px;
}
.slideBtn a i{
    border-radius: 50%;
    font-size: 18px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    box-shadow: 0px 12px 30px #0418391A;
}
.bigcard{   
    height: 687px;
    padding: 0px 0px;
    background-color: #FF7D66;
    overflow: hidden;
    padding: unset;
    border: unset;
    border-radius: 30px;
}
.bigcard .card-body {
    padding: unset;
}
.bigcard .card-body > img {
    object-fit: cover;
    padding: 0px 0px;
}
.bigcard .cardbackground{
    background-image: url("/img/Bubbles_Grey_Home.png");
    background-color: #FF7D66;
    margin-top: 135px;
    padding-left: 35px;
}
.bigcard .cardbackground>h2{
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600; 
}
.bigcard .cardbackground>p{
    margin-top: 10px;
    color: #041839;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px
}
.bigcard .cardbackground>strong{
    color: #041839;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px
}
.row .articleBlock{
    height: 802px !important;
}
.verticalCard > img{
    height: 126px;
}
footer{
    background-color: #041839;
}
.sitefooter{
    margin: 57px 0px 32px;
}
.copyRigh{
    margin-top: 98px; 
}
.langguageList>li:hover{
    background-color: #FFC107;
    cursor: pointer;
}
